html, body { 
	overflow-x: hidden; 
}
body {
	background-color: #eeeeee;
}
.container { 
	max-width: 960px; 
	margin: 0 auto; 
	background-color: #fff;
}
a { 
	color: #ff3333; 
}
a:hover {
  color: #ff3333;
}
img {
	display: block;
	height: auto;
	max-width: 100%;
}

/*Changes to glyphicons*/
.glyphicon-play {
    font-size: 2em;
    padding-left: 10px;
    margin-bottom: 15px;
}

.glyphicon {
    color: #008acd;
}


/*Header*/
.navbar {
	border-radius: 0;
}
.navbar-default.red-nav {
	background-color: #ff3333;
	border-color: #ff3333;
}
.navbar-default
.navbar-nav>li>a {
	color: #ffffff;
}
.navbar-default
.navbar-toggle {
	background-color: #008acd;
	border: 0;
}
.navbar-default
.navbar-toggle:hover {
	background-color: #008acd;
	border: 0;
}
.navbar-default
.navbar-toggle .icon-bar {
	background-color: #ffffff;
}
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin: 7.5px -15px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in { 
      display: block!important;
  }
  .collapsing {
      overflow: hidden!important;
  }
}
.custom-search {
    width: 90px;
    margin-left: 10px;
    color: #ffffff;
    background-color: #008acd;
    border-color: #008acd;
}

/*Side Links*/
.row-one {
  padding: 15px 15px 15px 20px;
}
.sidelinks {
  background-color: #eeeeee;
  padding: 10px 5px 1px 10px;
  margin-left: 10px;
  margin-top: 3px;
}
.sidelinks p {
  font-size: 12px;
  margin-bottom: -5px;
  margin-top: -7px;
}
.sidelinks-heading {
  color: #ff3333;
  margin: 0;
  font-size: 16px;
}
.clear {
  padding: 0;
}

/*ROW TWO*/
.row-two {
  border-top: 1px solid #eeeeee;
}
.carousel-heading {
  margin-bottom: -10px;
  color: #666666;
  font-weight: normal;
}
.thumbnail {
  text-decoration: none;
}
.cap-price {
  color: #666666;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}
.cap-heading {
  font-size: 13px;
  margin: 5px 0 2px 0;
}
/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 100px
}
.carousel-inner {
  border: 1px solid #eeeeee;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
/* End carousel */

/*ROW THREE*/
.row-three {
  border-top: 1px solid #eeeeee;
  margin-bottom: 15px;
}
/*COLUMN ONE*/
/*Gifts by location*/
.map {
  border: 1px solid #dddddd;
  padding-bottom: 39px;
}
/*COLUMN TWO
Gifts by ocassion*/
.occasion li {
  padding: 11px;
}
.gift-icons {
  margin-right: 0;
  display: inline-block;
}
.occasion {
  border: 1px solid #dddddd;
  list-style: none;
  font-size: 18px;
  color: red;
  position: relative;
  padding: 6px;
}
.gifts-heading {
  color: #666666;
  font-weight: normal;
}
/*COLUMN THREE*/
/*Gifts by recipient*/
.recipient-area {
  border: 1px solid #dddddd;
  padding: 15px;
}
.recipient-heading {
  color: #ff3333;
  margin: 0;
  padding-bottom: 10px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
.recipient-thumb {
  float: left;
  padding-right: 10px;
}
.recipient-text {
  font-size: 12px;
  color: #666666;
}
.recipient-links {
  color: #ff3333;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

/*ROW FOUR*/
/*About Red Balloon*/
.about-content {
  border: 1px solid #dddddd;
  padding: 5px 15px 5px 15px;
  margin-bottom: 60px;
}


/*SUBSCRIBE*/
.subscribe {
  background-color: #eeeeee;
  margin: 15px 15px 15px 15px;
  padding: 10px;
}
.subscribe-heading {
  color: #666666;
  font-size: 22px;
  font-weight: normal;
}
.left-email {
  padding-left: 10px;
}
.right-email {
  float: right;
}
.form-control.add {
  width: 250px;
  margin-top: -38px;
  margin-right: 210px;
}
.subscribe-button {
  margin-top: -56px;
  margin-left: 260px;
  width: 90px;
  color: #ffffff;
  background-color: #008acd;
  border-color: #008acd;
}
.subscribe-links {
  padding-left: 10px;
  color: #ff3333;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}


/*Footer*/
.bottom {
  background-color: #aaaaaa;
  height: 45px;
  margin-top: 60px;
}
.foot-links-left ul {
  padding-bottom: 0;
  margin: 0;
  margin-top: 5px;
  color: #ffffff; 
}
.foot-links-left li {
  list-style-type: none;
  display: inline-block;
  padding: 6px;
  padding-bottom: 0;
}
.foot-links-left li a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}
.foot-links-right ul {
  /*padding-bottom: 0;*/
  margin: 0;
  color: #ffffff; 
  margin-left: 1130px;
  margin-top: -30px;
}
.foot-links-right li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  padding-bottom: 0;
}
.foot-links-right li a {
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
}

.space {
  padding: 40px;
}

