/*Header*/
.top-mobile {
	background-color: #ff3333;
	height: 70px;
}
/*Condensed Info*/

.review-stars {
	padding: 5px 0 5px 10px;
}
.price-small {
	color: #000;
	background-color: #ddd;
	font-weight: bold;
	font-size: 1.5em;
	padding: 7px 12px 7px 45px;
	margin-left: 32px;
}
.added-info {
	margin-top: 15px;
	margin-bottom: 5px;
}
.side-pad {
	padding-left: 25px;
}

/*Main Content*/
.heading-mobile {
	margin-top: 10px;
}
.subtitle-mobile {
	padding-top: 5px;
}
.venue-header {
	margin-bottom: 5px;
}
.content-header-mobile {
	padding-top: 10px;
	margin-bottom: 5px;
}
.venue {
	list-style-type: none;
	font-size: 12px;
	color: #666666;
	margin-left: -40px;
	line-height: 18px;
}
.includes-mobile {
	list-style-type: none;
	font-size: 12px;
	color: #666666;
	margin-left: -40px;
	line-height: 22px;
}
.content-mobile {
	font-size: 12px;
	color: #666666;
	text-align: justify;
}

/*Might consider*/
/*Recently view*/
.ca-text {
	font-size: 12px;
	line-height: 14px;
	padding-top: 5px;
	margin-bottom: 0px;
	color: #666
}

/*Sticky Footer = Call to action buttons*/

.custom-book-mobile {
    width: 140px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 40px;
    background-color: #ff3333;
    border-color: #ff3333;
}
.custom-vouch-mobile {
    width: 140px;
    margin-left: 25px;
    margin-bottom: -5px;
    background-color: #008acd;
    border-color: #008acd;
}
.custom-vouch-mobile:hover {
	background-color: #006699;
	border-color: #006699;	
}
.bottom-space {
	height: 60px;
}