html, body { 
	overflow-x: hidden; 
}
body {
	background-color: #eeeeee;
}
.container { 
	max-width: 960px; 
	margin: 0 auto; 
	background-color: #fff;
}
a { 
	color: #008acd; 
}
img {
	display: block;
	height: auto;
	max-width: 100%;
}

/*Changes to glyphicons*/
.glyphicon-heart {
    padding-right: 5px;
}
.glyphicon-print {
    padding-left: 5px;
}
.glyphicon-envelope {
    padding-left: 2px;
}
.glyphicon-user {
    padding-left: 2px;
    font-size: 1.3em;
}
.glyphicon-stop {
	font-size: 0.7em;
}
.glyphicon-minus {
    font-size: 1.6em;
}
.glyphicon-star {
    font-size: 1.2em;
}
.glyphicon-heart, 
	.glyphicon-print, .glyphicon-envelope,
	.glyphicon-search {
    font-size: 1.4em;
}
.glyphicon {
    color: #008acd;
}


/*Header*/
.top {
	background-color: #ff3333;
	height: 100px;
}

.dotted-line {
	border-top: dotted 1px;
	color: #CCCCCC;
}

.heading {
	margin-top: -2px;
	font-size: 1.8em;
}


/*Subtitle under product heading*/
.subtitle {
	color: #666666;
	font-size: 1em;
	font-style: normal;
	margin-top: -6px;
	margin-bottom: 16px;
}

.divider {
	color: #666666;
	font-size: 16px;
}

.rating {
	padding-bottom: 4px;
}

.main-image {
	padding-bottom: 20px;
}


/*For buttons on side*/
/*Mobile first*/
.custom-book {
    width: 140px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    background-color: #ff3333;
    border-color: #ff3333;
}
.custom-vouch {
    width: 140px;
    margin-left: 15px;
    margin-bottom: -5px;
    background-color: #008acd;
    border-color: #008acd;
}
.custom-vouch:hover {
	background-color: #006699;
	border-color: #006699;	
}


/*Nav Tabs - Social Media*/
.social-first {
	margin-left: 102px;	
	/*padding-right: 8px;*/
	margin-bottom: -50px;
}
.social {
	margin-bottom: -50px;
	/*padding-right: 8px;*/
	margin-left: 160px;	
}
.social-last {
	margin-left: 258px;	
}
.content-header {
	font-size: 14px;
	font-weight: bold;
}
.highlights {
	list-style-type: none;
	font-size: 12px;
	color: #666666;
}
.includes {
	list-style-type: none;
	font-size: 12px;
	color: #666666;
	margin-left: -40px;
	line-height: 24px;
}
.content {
	font-size: 12px;
	color: #666666;
	padding-top: 2px;
}


/*Banner*/
.why-choose {
	margin-top: 100px;
}

/*Reviews section*/
.thumbnail {
    border: 0 none;
    box-shadow: none;
}
.line {
	margin-top: -2px;
}
.redline {
	height: 3px;
	background-color:#ff3333;
	margin-top: -5px;
	margin-bottom: 6px;
}
.username {
	color: #008acd;
	font-size: 12px;
	font-weight: bold;
}
.user-info-title {
	color: #666;
	font-size: 12px;
	font-weight: bold;
}
.user-info {
	color: #666;
	font-size: 12px;
}
.username-comment {
	font-style: italic;
	font-size: 11px;
	color: #999999;
}
.review-heading {
	font-size: 18px;
	color: #333333;
	margin-top: -10px;
}
.review-thumb {
	margin-top: -10px;
}
.review-rating {
	margin-top: -10px;
	padding-left: 44px;
	font-size: 12px;
	font-weight: bold;
}
.review-row-gap {
	margin-top: -10px;
}
.review-divider {
	margin-bottom: 6px;
}
.review-dotted-line {
	margin-top: 6px;
	border-top: dotted 1px;
	color: #CCCCCC;
}

/*Recently viewed*/
.price {
	margin-top: -10px;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 16px;
	color: #ff3333;
}


/*======RIGHT SIDEBAR======*/
/*Right sidebar changes*/
.well {
	border-style: solid;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top-color: red;
	border-top-width: 2px;
}

/*First well*/
.ex-price {
	margin-top: -6px;
	margin-bottom: -10px;
	font-size: 40px;
	font-weight: bold;
}
.ex-info {
	margin-top: -10px;
	margin-bottom: -10px;
}
.quantity {
	width: 30%;
	height: 28px;
}
/*Second well*/
.gg {
	margin-left: 30px;
}
.or {
	color: #666666;
}
.vouch-title {
	font-size: 13px;
	font-weight: bold;
}
.valid {
	font-size: 14px;
	margin-top: -12px;
}

/*Third well*/
.thumbnail-border {
	padding: 15px;
	border: 1px solid #CCCCCC;
	background-color: #fff;
}
.similar-ex {
	font-size: 16px;
	margin-top: -1px;
}
.cap-text {
	font-size: 12px;
	line-height: 14px;
	padding-top: 5px;
	margin-bottom: 0px;
	color: #666
}
.similar-ex-divider {
	margin-top: 6px;
	margin-bottom: 12px;
}


/*Footer*/
.bottom {
	background-color: #333333;
	height: 30px;
	margin-top: 60px;
}

