html, body { 
	overflow-x: hidden; 
}
body {
	background-color: #eeeeee;
}
.container { 
	max-width: 960px; 
	margin: 0 auto; 
	margin-top: -20px;
	background-color: #fff;
}
a { 
	color: #008acd; 
}
img {
	display: block;
	height: auto;
	max-width: 100%;
}

/*Changes to glyphicons*/
.glyphicon-heart {
  padding-right: 5px;
  color: #008acd;
}
.glyphicon-print {
  padding-left: 5px;
  color: #008acd;
}
.glyphicon-envelope {
  padding-left: 2px;
  color: #008acd;
}
.glyphicon-user,
.glyphicon-time {
  padding-left: 2px;
  font-size: 1.3em;
  color: #008acd;
}
.glyphicon-ok-sign,
.glyphicon-gift, 
.glyphicon-calendar {
  padding-left: 2px;
  font-size: 1em;
  color: #008acd;
}
.glyphicon-stop {
	font-size: 0.8em;
	color: #008acd;
}
.glyphicon-minus {
  font-size: 1.6em;
  color: #008acd;
}
.glyphicon-star {
  font-size: 1.2em;
  color: #008acd;
}
.glyphicon-heart, 
.glyphicon-print,
 .glyphicon-search,
.glyphicon-envelope {
  font-size: 1.4em;
  color: #008acd;
}
.glyphicon-search.mobile {
	font-size: 1.4em;
	color: #ffffff;
	padding-top: 13px;
	padding-right: 15px;
}


/*Header*/
.navbar {
	border-radius: 0;
}
.nav-tabs>li {
	background-color: #eee;
}
.navbar-default.red-nav {
	background-color: #ff3333;
	border-color: #ff3333;
}
.navbar-default
.navbar-nav>li>a {
	color: #ffffff;
}
.navbar-default
.navbar-toggle {
	background-color: #008acd;
	border: 0;
}
.navbar-default
.navbar-toggle:hover {
	background-color: #008acd;
	border: 0;
}
.navbar-default
.navbar-toggle .icon-bar {
	background-color: #ffffff;
}
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin: 7.5px -15px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in { 
      display: block!important;
  }
  .collapsing {
      overflow: hidden!important;
  }
}
.custom-search {
    width: 90px;
    margin-left: 15px;
    color: #ffffff;
    background-color: #008acd;
    border-color: #008acd;
}
.custom-search:hover {
	background-color: #006699;
	border-color: #006699;	
}
.dotted-line {
	border-top: dotted 1px;
	color: #CCCCCC;
}
.heading {
	font-weight: normal;
}
/*Subtitle under product heading*/
.subtitle {
	color: #666666;
	font-size: 1em;
	font-style: normal;
	margin-top: -6px;
	margin-bottom: 16px;
}
.divider {
	color: #666666;
	font-size: 16px;
}
.rating {
	padding-bottom: 4px;
}
.main-image {
	padding-bottom: 20px;
	display: block;
	height: auto;
	max-width: 100%;
}
.text-right {
	color: #666;
}


/*For buttons on side*/
/*Mobile first*/
.custom-book {
    width: 172px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #ff3333;
    border-color: #ff3333;
}
.custom-vouch {
    width: 172px;
    margin-bottom: -5px;
    background-color: #008acd;
    border-color: #008acd;
}
.custom-vouch:hover {
	background-color: #006699;
	border-color: #006699;	
}


/*Nav Tabs - Social Media*/
.social-first {
	margin-left: 285px;	
	margin-bottom: -50px;
}
.social {
	margin-bottom: -50px;
	margin-left: 343px;	
}
.social-last {
	margin-left: 258px;	
}
.content-header {
	font-size: 14px;
	font-weight: bold;
}
.highlights {
	list-style-type: none;
	font-size: 14px;
	color: #666666;
}
.includes {
	list-style-type: none;
	font-size: 14px;
	color: #666666;
	margin-left: -40px;
	line-height: 24px;
}
.content {
	font-size: 14px;
	color: #666666;
	padding-top: 2px;
}


/*Banner*/
.why-choose {
	margin-top: 100px;
}

/*Reviews section*/
.thumbnail {
    border: 0 none;
    box-shadow: none;
}
.line {
	margin-top: -2px;
}
.redline {
	height: 3px;
	background-color:#ff3333;
	margin-top: -5px;
	margin-bottom: 6px;
}
.username {
	color: #008acd;
	font-size: 12px;
	font-weight: bold;
}
.user-info-title {
	color: #666;
	font-size: 12px;
	font-weight: bold;
}
.user-info {
	color: #666;
	font-size: 12px;
}
.username-comment {
	font-size: 11px;
	color: #999999;
}
.review-heading {
	font-size: 18px;
	color: #333333;
	margin-top: -10px;
}
.review-thumb {
	margin-top: -10px;
}
.review-rating {
	margin-top: -10px;
	padding-left: 44px;
	font-size: 12px;
	font-weight: bold;
}
.review-row-gap {
	margin-top: -10px;
}
.review-divider {
	margin-bottom: 6px;
}
.review-dotted-line {
	margin-top: 6px;
	border-top: dotted 1px;
	color: #CCCCCC;
}

/*Recently viewed*/
.price-sale {
	margin-top: -10px;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 16px;
	color: #ff3333;
}
.price {
	margin-top: -10px;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 16px;
	color: #666;
}
.location {
	font-size: 11px;
	color: #999999;
}

/*======RIGHT SIDEBAR======*/
/*Right sidebar changes*/
.well {
	border-style: solid;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top-width: 2px;
}

/*First well*/
.ex-price {
	margin-top: -6px;
	margin-bottom: -10px;
	font-size: 40px;
	font-weight: bold;
}
.ex-info {
	margin-top: -10px;
	margin-bottom: -10px;
}
.quantity {
	width: 30%;
	height: 28px;
}
/*Second well*/
.gg {
	margin-left: 30px;
}
.or {
	color: #666666;
}
.vouch-title {
	font-size: 13px;
	font-weight: bold;
}
.valid {
	font-size: 14px;
	margin-top: -12px;
}

/*Third well*/
.thumbnail-border {
	padding: 15px;
	border: 1px solid #CCCCCC;
	background-color: #fff;
}
.similar-ex {
	font-size: 16px;
	margin-top: -1px;
}
.cap-text {
	font-size: 12px;
	line-height: 14px;
	padding-top: 5px;
	margin-bottom: 0px;
	color: #666
}
.similar-ex-divider {
	margin-top: 6px;
	margin-bottom: 12px;
}


/*Footer*/
.bottom {
  background-color: #aaaaaa;
  height: 45px;
}
.foot-links-left ul {
  padding-bottom: 0;
  margin: 0;
  margin-top: 5px;
  color: #ffffff; 
}
.foot-links-left li {
  list-style-type: none;
  display: inline-block;
  padding: 6px;
  padding-bottom: 0;
}
.foot-links-left li a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}
.foot-links-right ul {
  /*padding-bottom: 0;*/
  margin: 0;
  color: #ffffff; 
  margin-left: 1060px;
  margin-top: -30px;
}
.foot-links-right li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  padding-bottom: 0;
}
.foot-links-right li a {
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
}

.space {
  padding: 40px;
}

/*MOBILE CSS*/

/*Header*/
.top-mobile {
	background-color: #ff3333;
	height: 70px;
}
.image-mobile {
	margin-bottom: -39px;
}
img.main-image-mobile {
	display: block;
	height: auto;
	max-width: 100%;
	margin-top: -20px;
}
/*Condensed Info*/
.review-stars {
	padding: 15px 0 5px 0px;
}
.price-small {
	color: #333;
	font-weight: bold;
	font-size: 36px;
	margin-top: -10px;
}
.added-info {
	margin-top: 15px;
	margin-bottom: 5px;
}
.side-pad {
	padding-left: 10px;
}

/*Title*/
.heading-mobile {
	margin-top: 25px;
}
.subtitle-mobile {
	padding-top: 5px;
	padding-left: 1px;
}
/*Main Content*/
.venue-header {
	margin-bottom: 5px;
}
.content-header-mobile {
	padding-top: 10px;
	margin-bottom: 5px;
}
.venue {
	list-style-type: none;
	font-size: 12px;
	color: #666666;
	margin-left: -40px;
	line-height: 18px;
}
.added-info {
	margin-bottom: 20px;
}
.includes-mobile {
	list-style-type: none;
	font-size: 14px;
	color: #666666;
	margin-left: -40px;
	line-height: 22px;
}
.content-mobile {
	font-size: 14px;
	color: #666666;
	/*text-align: justify;*/
	margin-bottom: 25px;
}

/*Might consider*/
/*Recently view*/
.ca-text {
	font-size: 12px;
	line-height: 14px;
	padding-top: 5px;
	margin-bottom: 0px;
	color: #666
}

/*Sticky Footer = Call to action buttons*/

.custom-book-mobile {
    width: 40%;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    background-color: #ff3333;
    border-color: #ff3333;
}
.custom-vouch-mobile {
    width: 40%;
    margin-left: 40px;
    margin-bottom: -5px;
    background-color: #008acd;
    border-color: #008acd;
}
.custom-vouch-mobile:hover {
	background-color: #006699;
	border-color: #006699;	
}
.bottom-space {
	height: 60px;
}
