html,
body {
  overflow-x: hidden;
}
body {
  background-color: #eeeeee;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  margin-top: -20px;
  background-color: #fff;
}
a {
  color: #008acd;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
.glyphicon-home {
  font-size: 0.8em;
  height: 30%;
  color: #aaaaaa;
}
.glyphicon-remove-circle {
  font-size: 1.2em;
  margin-left: 50px;
  color: #008acd;
}
.glyphicon-remove-circle.mobile {
  font-size: 1.2em;
  margin-left: 5px;
  color: #008acd;
}
.glyphicon-plus-sign {
  color: #ff3333;
}
.glyphicon-star {
  font-size: 1.2em;
  color: #008acd;
}
.glyphicon-search {
  font-size: 1.4em;
  color: #ffffff;
  padding-top: 13px;
  padding-right: 15px;
}
.navbar {
  border-radius: 0;
}
.navbar.navbar-default.red-nav {
  background-color: #ff3333;
  border-color: #ff3333;
}
.navbar.navbar-nav > li > a {
  color: #ffffff;
}
.navbar.navbar-default.navbar-toggle {
  background-color: #008acd;
  border: 0;
}
.navbar.navbar-default.navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar.navbar-default.navbar-toggle:hover {
  background-color: #008acd;
  border: 0;
}
@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .nav.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
  }
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
}
.custom-search {
  width: 90px;
  margin-left: 15px;
  color: #ffffff;
  background-color: #008acd;
  border-color: #008acd;
}
.custom-search:hover {
  background-color: #006699;
  border-color: #006699;
}
.browse,
.search-chosen {
  border: 1px solid #eeeeee;
  padding-left: 10px;
}
.browse-links {
  border: 1px solid #eeeeee;
  background-color: #eeeeee;
}
.browse-links ul {
  list-style: none;
  padding: 5px 0 0 10px;
}
.browse-links ul li {
  font-size: 13px;
  padding: 1px;
}
.browse-links a {
  color: #000000;
}
.browse-links a:hover {
  color: #ff3333;
}
.browse-mobile {
  padding-bottom: 50px;
}
.dropdown.pull-right.browse-drop {
  margin-top: 10px;
}
#dropdownMenu1 {
  width: 225px;
}
.search {
  margin-top: 15px;
  border: 1px solid #eeeeee;
  padding-left: 10px;
}
.search-sub {
  color: #666;
  font-size: 11px;
  font-weight: normal;
  margin: 0;
  padding-top: 5px;
}
.search-text {
  font-size: 13px;
  padding-top: 2px;
  padding-bottom: 4px;
  margin: 0;
}
.close-cross {
  background-color: #feefef;
  margin-top: 5px;
  margin-left: -10px;
  padding: 4px 4px 4px 10px;
}
#leftMenu .accordion-group {
  margin-bottom: 0px;
  border: 0px;
  border: 1px solid #eeeeee;
}
#leftMenu .accordion-heading {
  height: 34px;
  padding-left: 10px;
  list-style-type: none;
}
#leftMenu .accordion-heading a {
  color: #ff3333;
  text-decoration: none;
  font-weight: bold;
}
#leftMenu .accordion-inner ul {
  list-style-type: none;
  font-size: 13px;
  padding-left: 10px;
}
#leftMenu .accordion-inner ul li {
  padding: 1px;
}
.bcrumb {
  padding-top: 20px;
  padding-bottom: 30px;
}
.breadcrumb li {
  font-size: 12px;
  font-weight: bold;
  color: #cccccc;
}
.breadcrumb li a {
  color: #aaaaaa;
}
.breadcrumb li:after {
  font-family: FontAwesome;
  content: "\f105";
  color: #008acd;
  margin-left: 10px;
}
.breadcrumb li.current:after {
  content: none;
}
.breadcrumb > li + li:before {
  content: none;
}
.br-head {
  color: #666666;
  font-weight: normal;
}
.form-control {
  width: 35px;
  height: 25px;
}
.price {
  display: inline;
}
.dotted-line {
  border-top: dotted 1px;
  color: #CCCCCC;
  margin: 0;
  padding-bottom: 10px;
}
.category-heading {
  top: 155px;
  color: #fff;
  font-size: 59px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
}
.category-heading-mobile {
  top: 122px;
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
}
.category-heading-mobile-xs {
  top: 1px;
  color: #fff;
  font-size: 44px;
  font-weight: bold;
  line-height: 34px;
  padding: 0;
  margin: 0;
  margin-top: -2px;
  position: absolute;
  text-transform: uppercase;
}
.category-text p {
  color: #999;
  padding-top: 15px;
  font-size: 18px;
  line-height: 22px;
}
.results-title {
  color: #666;
}
.results-bar {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #eeeeee;
  padding: 10px 10px 10px 10px;
}
.results-bar p {
  font-size: 18px;
  margin-bottom: 5px;
}
.dropdown.pull-right.top-sellers {
  margin-top: -30px;
}
.sub-category-heading {
  font-size: 14px;
  font-weight: bold;
  color: #ff3333;
  margin-top: 0px;
  margin-bottom: 5px;
}
.sub-category-heading a {
  color: #ff3333;
}
.loc {
  font-size: 11px;
  font-weight: bold;
}
.content {
  font-size: 12px;
  color: #666666;
  padding-top: 2px;
}
.read-more {
  font-weight: bold;
  font-size: 12px;
  color: #ff3333;
}
.category-pricing {
  padding-top: 15px;
  padding-left: 5px;
  color: #ff3333;
  font-weight: bold;
}
.category-pricing-nonsp {
  padding-top: 15px;
  padding-left: 5px;
  font-weight: bold;
}
.category-pricing-mobile {
  padding-left: 30px;
  color: #ff3333;
  font-weight: bold;
}
.category-pricing-mobile-xs {
  padding-left: 15px;
  color: #ff3333;
  font-weight: bold;
}
.first-line-special {
  font-size: 12px;
  padding-left: 10px;
}
.second-line-special {
  font-size: 26px;
  padding-left: 10px;
}
.second-line {
  font-size: 26px;
  padding-left: 10px;
  color: #000;
}
.moreinfo-button {
  height: 25px;
  width: 80px;
  color: #ffffff;
  background-color: #008acd;
  border-color: #008acd;
  padding-top: 2px;
  padding-bottom: 10px;
  margin-top: 5px;
}
.button-text {
  margin-left: -4px;
}
.code {
  font-weight: normal;
  font-size: 11px;
  color: #666666;
  padding-top: 20px;
  padding-left: 3px;
  margin: 0;
}
.code-sp {
  font-weight: normal;
  font-size: 11px;
  color: #666666;
  padding-top: 5px;
  padding-left: 3px;
  margin: 0;
}
.bottom {
  background-color: #767676;
  height: 45px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}
.foot-links-left ul {
  padding-bottom: 0;
  margin: 0;
  margin-top: 5px;
  color: #ffffff;
}
.foot-links-left li {
  list-style-type: none;
  display: inline-block;
  padding: 6px;
  padding-bottom: 0;
}
.foot-links-left li a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}
.foot-links-right ul {
  margin: 0;
  color: #ffffff;
  margin-left: 1130px;
  margin-top: -30px;
}
.foot-links-right li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  padding-bottom: 0;
}
.foot-links-right li a {
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
}
.space {
  padding: 40px;
}
.top-mobile {
  background-color: #ff3333;
  height: 70px;
}
img.main-image-mobile {
  display: block;
  height: auto;
  max-width: 100%;
}
.review-stars {
  padding: 5px 0 5px 10px;
}
.price-small {
  color: #000;
  background-color: #ddd;
  font-weight: bold;
  font-size: 1.5em;
  padding: 7px 12px 7px 45px;
  margin-left: 62px;
}
.added-info {
  margin-top: 15px;
  margin-bottom: 5px;
}
.side-pad {
  padding-left: 25px;
}
.clear {
  padding: 0;
}
.bottom-space {
  height: 60px;
}
